<h1 class='center'>{{title}}</h1>
<p class='center'>
  A Decentralized tracking application for financial assets.
</p>

<div class='option_holder'>
  <div class='box corporate_option'>
      <div class='box_top '>
          <div class='bold'>CORPORATE</div>
      </div>
      <div class='box_body'>
          <ul>
            <li><a href='/generate/policy'>Generate Policy</a></li>
            <li><a href='/generate/medical'>Generate Medical file</a></li>
            <li><a href='/generate/contract'>Generate Contract</a></li>
          </ul>
      </div>

  </div>

  <div class='box users_option'>
      <div class='box_top'>
          <div class='bold' >USER</div>
      </div>
      <div class='box_body'>
          <ul>
            <li><a href='/view/policy'>View Policy</a></li>
            <li><a href='/view/medical'>View Medical file</a></li>
            <li><a href='/view/contract'>View Contract</a></li>
          </ul>
      </div>

  </div>
</div>
