
<div class='box'>
  <div class='box_body'>
      <h1 class='center'>Successfully Added To IPFS!</h1>
      <br>
      <p>
         <b>Hash</b>: {{hash}} <br><br>
         <b>Content: </b>{ {{data}} }<Br><Br>
         <a href="/"><input type="button" value='Home' class='box_button'></a>
         <a href="/generate/policy"><input type="button" value='Generate New' class='box_button'></a>
      </p>
  </div>
</div>
