<!doctype html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  {{#each css}}
        <link rel="stylesheet" href="/stylesheets/{{this}}" />
  {{/each}}
</head>
<body>
  {{{ body }}}
</body>
</html>
