

.bold{
  font-weight: bolder;
  font-size:16px;
  text-transform: capitalize;
}

.code{font-family: fantasy;
      margin-top:5px;
  }


  ul,li{list-style:none;
    margin:0px;
    margin-left:5px;
    margin-top:5px;
    padding:0px;

  }

.option_holder{
  width:880px;
  height:180px;
  margin:0px auto;
  margin-top:100px;
}

.corporate_option, .users_option{
  float:left;
  width:400px;
  min-height:190px;
}

.users_option{margin-left:80px;
  }
