html {
  padding: 0px;
  padding-left:30px;
  padding-right:30px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:#16db10;
    color:#000;
}

h1{font-size:35px;
   margin-bottom: 0px;
   color:#2f243a;
}

p{
  font-size:16px;
  margin-left:30px;
}

a {
  color: #392f5a;
  text-decoration:none;
}

.box{
  float:left;
  border-radius:10px;
  width:400px;
  background:white;
  color:black;
  box-shadow:0px 1px 5px rgba(0,0,0,0.15);
}

.box_top{
     padding-top:15px;
     padding-bottom:15px;
     border-bottom:1px solid #000;
     background:#211a1d;
     color:#ffffff;
     border-radius:10px 10px 0px 0px;
}

.box_body{
  padding:30px;
}
