html {
  padding: 0px;
  margin:0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:#3c3c4c;
    color:#fff;
}

.record_holder{
  background-color: #ffeddf;
  margin-top:30px;
  border-bottom:1px solid #a39fa5;
  color:#000;
}

.single_record{
  border-top:1px solid #a39fa5;
  padding:15px;
  padding-left:10px;
  padding-right:10px;
}
